#header-divs {
    display: flex;
    align-content: center;
    justify-content: center;
}

#header-divs div {
    align-items: center;
    margin: 20px;
    width: 100%;
}

.pet-pic {
    width: 120px;
    height: 100px;
}

.pet-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.pet-name {
    background-color: rgb(162, 162, 247);
    width: 120px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
}

.pet-age {
    background-color: rgb(162, 162, 247);
    width: 120px;
    height: 100px;
    text-align: center;
    border-radius: 50px;
}

.div-main {
    width: 83%;
    height: 300px;
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 140px;
    border-radius: 250px;
}

#buttons {
    width: 100%;
    height: 120px;
    background-color: crimson;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0px 120px 0px;
    border-radius: 20px;
}

#buttons button {
    align-items: center;
    margin: 20px;
    width: 30%;
    height: 30%;
    background-color: aqua;
    font-size: 20px;
    border-radius: 10px;
}

.levels h3 {
    text-align: center;
    align-items: center;
    margin: 20px;
    width: 30%;
    height: 30%;
}

.levels {
    display: flex;
    align-content: left;
    background-color: orange;
    margin: -180px -3px 0px 0px;
    border-radius: 10px;
}

.puppy {
    padding-left: 100%;
    margin-top: 0%;
}

#hello {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#anmsyn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#puppy {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

#pupy2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

body {
    background-color: antiquewhite;
}

#puppies {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}